.root {
    -fx-effect: dropshadow( gaussian, rgba(0, 255, 255, 0.4), 10, 0.5, 0.0, 0.0 );
    -fx-padding: 10; 
    -fx-background-radius: 5;
}

#main {
    -fx-background-color: transparent;  
}

.jfx-hamburger StackPane{
 -fx-pref-width: 40px;
 -fx-pref-height: 5px;
 -fx-background-color : #ffffff;
 -fx-background-radius : 5px;
}
